<div class="modal hide fade" id="login">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Login</h3>
  </div>
  <%= form_tag sessions_path, :method => :post do %>
	<div class="modal-body">
  		<div class="control-group">
			<%= label :email,t('new.user.form.email'), class: "required control-label", id: "user_id"%>
			<div class="controls">
				<%= text_field :email, class: "required input-xlarge" %>
			</div>
		</div>
		<div class="control-group">
			<%= label :password,t('new.user.form.password'), class: "required control-label"%>
			<div class="controls">
				<%= password_field :password, class: "input-xlarge" %>
			</div>
		</div>
	</div>
  	<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    <%= submit_tag "Login", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
