<h1>Welcome Back!</h1>
<div class="row">
	<div class="span6">		
		<%= render 'form' %>
		<%= render 'forgot_password' %>
	</div>
	<div class="span6">	
		<div class="well">
			<h2><Already using one of these?><%= t('new.session.provider.title')%></h2>
			<div class="alert alert-info center">
				<%= t('new.session.provider.sub_text')%>
			</div>
			<div class="center">
				<%= link_to 'Twitter', auth_at_provider_path(:provider => :twitter) %> | 
				<%= link_to 'Facebook', auth_at_provider_path(:provider => :facebook) %> |
				<%= link_to 'Google', auth_at_provider_path(:provider => :google) %>
			</div>
		</div>
	</div>
</div>