<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
	  <div class="row">
		<div class="span7">	
			<div class="well">
				<form class="form-horizontal">
					<fieldset>
						<legend>Welcome Aboard!</legend>
						<div class="control-group">
							<label class="control-label" for="input01">First Name</label>
							<div class="controls">
							  <input type="text" class="input-xlarge" id="first-name">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input01">Last Name</label>
							<div class="controls">
							  <input type="text" class="input-xlarge" id="last-name">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input01">Email Address</label>
							<div class="controls">
							 	<input type="text" class="input-xlarge" id="email">
							 	
							</div>
							<div class="controls">
								<p class="help-block">Re-enter your email address</p>
							 	<input type="text" class="input-xlarge" id="email-validate">
							</div>
						</div>	
						<div class="control-group">
							<label class="control-label" for="input01">Password</label>
							<div class="controls">
							  	<input type="password" class="input-xlarge" id="password">
							</div>
							<div class="controls">
								<p class="help-block">Re-enter your password</p>
								<input type="password"  class="input-xlarge" id="password-validate">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">
				            		<input type="checkbox" name="terms-check" value="terms">
				            		I'm also a property owner
				          		</label>
								<label class="checkbox">
				            		<input type="checkbox" name="terms-check" value="terms">
				            		I've read the terms and conditions
				          		</label>
							</div>
						</div>
						<div class="control-group">
							<div class="control-group">
								<div class="controls">
									<button class="btn btn-primary">Register Now!</button>
									<button class="btn ">Cancel</button>
								</div>
							</div>
						</div>	
					</fieldset>
				</form>	
			</div>
		</div>
		<div class="span5">	
			<div class="well">
				<form class="form-horizontal">
					<fieldset>
						<legend>Already using one of these?</legend>
						<p class="help-block">Select an existing provider for a no hassle sign up!</p>
				</div>
		</div>
	</div>

