<h1><%= t('new.user.title')%></h1>
<script>
			$(document).ready( function() {

				//BASIC
				$(".password_test").passStrength({
					userid:	"#user_id"
					});
				
				//ADVANCED
				$(".password_adv").passStrength({
					shortPass: 		"top_shortPass",
					badPass:		"top_badPass",
					goodPass:		"top_goodPass",
					strongPass:		"top_strongPass",
					baseStyle:		"top_testresult",
					userid:			"#user_id_adv",
					messageloc:		0
				});
			});
		</script>


<div class="row">
	<div class="span6">		
			<%= render 'form' %>
	</div>
	<div class="span6">	
		<div class="well">
			<h2><Already using one of these?><%= t('new.user.provider.title')%></h2>
			<div class="alert alert-info center">
				<%= t('new.user.provider.sub_text')%>
			</div>
			<div class="center">
				<%= link_to 'Twitter', auth_at_provider_path(:provider => :twitter) %> | 
				<%= link_to 'Facebook', auth_at_provider_path(:provider => :facebook) %> |
				<%= link_to 'Google', auth_at_provider_path(:provider => :google) %>
			</div>
			<div class="alert center">
				By clicking on one the links above you will automatically accept the <a href="#terms">terms and conditions</a>.
			</div>
		</div>
	</div>
</div>