<%= form_for @user do |f| %>
	  <div class="row">
		<div class="span7">	
			<div class="well">
				<form class="form-horizontal">
					<fieldset class="control-group error">
					  	<% if @user.errors.any? %>
        					<% for message in @user.errors.full_messages %>		
          						<li><%= message %></li>
        					<% end %>
						<% end %>
					</fieldset>
					<fieldset>
						<legend>Welcome Aboard!</legend>
						<div class="control-group">
							<label class="control-label" for="input01">First Name</label>
							<div class="controls">
							  <input type="text" class="input-xlarge" id="first-name">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input01">Last Name</label>
							<div class="controls">
							  <input type="text" class="input-xlarge" id="last-name">
							</div>
						</div>
						<div class="control-group">
							<%= f.label :email,"Email Address", class: "control-label"%>
							<div class="controls">
								<%= f.text_field :email, class: "input-xlarge" %>
							</div>
							<div class="controls">
								<p class="help-block">Re-enter your email address</p>
								<%= f.text_field :email_confirmation, class: "input-xlarge" %>
							</div>
						</div>	
						<div class="control-group">
							<%= f.label :password,"Password", class: "control-label"%>
							<div class="controls">
    							<%= f.password_field :password, class: "input-xlarge" %>
							</div>
							<div class="controls">
								<p class="help-block">Re-enter your password</p>
					    		<%= f.password_field :password_confirmation, class: "input-xlarge" %>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">
				            		<input type="checkbox" name="terms-check" value="terms">
				            		I'm a property owner
				          		</label>
								<label class="checkbox">
				            		<%= f.check_box :terms_accepted%> 

				            		I've read the <a data-toggle="modal" href="#terms" >terms and conditions</a>
				          		</label>
							</div>
						</div>
						<div class="control-group">
							<div class="control-group">
								<div class="controls">
									<%= f.submit "Register Now!", class: "btn btn-primary" %>
									<%= link_to "Cancel", root_path %>
								</div>
							</div>
						</div>	
					</fieldset>
				</form>	
			</div>
		</div>
		<div class="span5">	
			<div class="well">
				<form class="form-horizontal">
					<fieldset>
						<legend>Already using one of these?</legend>
						<p class="help-block">Select an existing provider for a no hassle sign up!</p>
				</div>
		</div>
	</div>
<% end %>

