<div class="center hero-unit"> 
	<table>
    	<tr>
      		<td rowspan="2">
      			<%= render 'shared/slider' %>
      		</td>
      		<td>
     			<a class="btn btn-primary btn-large" href=""><%=t :owners_sign_up_txt %></a>
	    	</td>
		</tr>
		<tr>
			<td>
				<iframe width="260" height="180" src="http://www.youtube.com/embed/teivc8Q-oSA" frameborder="0" allowfullscreen></iframe>
			</rd>  
     	</tr>
	</table>
</div>
     
<!-- Example row of columns -->
<div class="row">
	<div class="span4">
		<h2>Featured Properties</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
    <div class="span4">
    	<%= render 'shared/quick_search' %>
    </div>
    <div class="span4">
    	<h2>Late Deals &amp Early Birds</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
       	<p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>

<!-- Modals -->
<%= render 'modals/owner_register' %>
<%= render 'modals/register' %>
<%= render 'modals/login' %>
<%= render 'modals/legal' %>


