<!DOCTYPE html>
<html>
<head>
  <title>Pickle</title>
  <%= render 'layouts/includes' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
